body{
  background-image: url("https://viajes.nationalgeographic.com.es/medio/2019/01/30/stock-photo-canoe-52030162_ebe8ef72_1200x630.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.tituloCentrado {
  margin-top: 100px;
  text-align: center;
}

.Centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenAdaptada {
  height: 50px;
  width: 50px;
}

.textWhite {
  color: white;
  text-decoration: none;
}

form{
  background-color: rgba(180, 181, 182, 0.6);
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-success{
  display: flex;
  justify-content: center;
  align-items: center;
}

th, td{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

table{
  background-color: rgba(180, 181, 182, 0.8);
  padding: 20px;
  border: 1px solid black;
  border-left: 10px;
  border-right: 10px;
}

thead{
  border: 2px solid white;
}
