doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/style-chat.css')
  title Chat Websocket
body
  include components/chat.pug 
script(src='http://localhost:8080/api/chat/socket.io/socket.io.js')
script(src='/js/cliente.js')