.tituloCentrado {
    text-align: center;
  }
  
  .Centrado {
    display: flex;
    justify-content: center;
  }
  
  .imagenAdaptada {
    height: 50px;
    width: 50px;
  }
  
  .textWhite {
    color: white;
    text-decoration: none;
  }
  
  .separacion {
    margin-top: 20px;
  }
  
  .emailAzulNegrita {
    color: blue;
    font-weight: bold;
  }
  
  .horaRojo {
    color: red;
  }
  
  .mensajeVerdeCursiva {
    color: green;
    font-style: italic;
  }
  
  .mensajeFinal {
    display: flex;
  }